{% extends 'userapp/base.html' %}

{% block content %}

<div class="panel-heading">用户注册</div>
<div class="panel-body">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" method="POST" action="{% url 'userapp:register_user' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">注册账号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入账号">
                </div>
            </div>

            <div class="form-group">
                <label for="userpass" class="col-sm-3 control-label">注册密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="userpass" name="userpass" placeholder="请输入密码">
                </div>
            </div>

            <div class="form-group">
                <label for="re_userpass" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="re_userpass" name="re_userpass"
                           placeholder="请再次输入密码">
                </div>
            </div>

            <div class="form-group">
                <label for="realname" class="col-sm-3 control-label">真实姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="realname" name="realname" placeholder="请输入姓名">
                </div>
            </div>

            {% if error_msg %}
            <div class="form-group">
                <label class="col-sm-3 control-label">提示信息</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{error_msg}}</p>
                </div>
            </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}